#react
cinema-react/node_modules
cinema-react/.pnp
cinema-react/.pnp.js
cinema-react/coverage
cinema-react/build
cinema-react/.DS_Store
cinema-react/.env.local
cinema-react/.env.development.local
cinema-react/.env.test.local
cinema-react/.env.production.local
cinema-react/npm-debug.log*
cinema-react/yarn-debug.log*
cinema-react/yarn-error.log*

#source
venv

#django
cinema/__pycache__
cinema/.env
cinemaAPI/__pycache__
cinemaAPI/migrations/__pycache__